{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>{{ 'create.account'|trans }}</h1>
<div class="login">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary">{{ 'sign.in'|trans }}</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
