{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>{{ 'episode'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title'|trans }}</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>{{ 'synopsis'|trans }}</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary"  href="{{ path('episode_edit', {'slug': episode.slug}) }}">{{ 'edit'|trans }}</a>
        <br><br>
    {%endif%}

    <br>
    <a href="{{ path('episode_index') }}">{{ 'back.list'|trans }}</a>
{% endblock %}
