{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>{{ 'season'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>{{ 'year'|trans }}</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans }}</th>
                <td>{{ season.description }}</td>
            </tr>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <td>{{ season.number }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary" href="{{ path('season_edit', {'id': season.id}) }}">{{ 'edit'|trans }}</a>
        <br><br>
        {{ include('season/_delete_form.html.twig') }}

        <br>
    {%endif%}

    <a href="{{ path('season_index') }}">{{ 'back.list'|trans }}</a>


{% endblock %}
