{% extends 'base.html.twig' %}

{% block title %}Edit Program{% endblock %}

{% block body %}
    <h1>{{ 'program'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'update'|trans }) }}
    <br>


    {{ include('program/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('program_index') }}">{{ 'back.list'|trans }}</a>
{% endblock %}
