{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>{{ 'program'|trans }}</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary"  href="{{ path('program_new') }}">{{ 'create.program'|trans }}</a>
    {%endif%}

    <table class="table">
        <thead>
            <tr>
                <th style="width: 1%">{{ 'id'|trans }}</th>
                <th style="width: 4%">Slug</th>
                <th style="width: 5%">{{ 'title'|trans }}</th>
                <th style="width: 40%">{{ 'summary'|trans }}</th>
                <th style="width: 10%">{{ 'poster'|trans }}</th>
                <th style="width: 15%">{{ 'actors'|trans }}</th>
                <th style="width: 15%">{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.slug }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td><img src="{{ asset('uploads/'~program.poster) }}" style="width: 40%"></td>
                <td >
                {% for actor in program.actors %}
                    {{ actor.name }},
                {% else %}
                    {{ 'no.actor'|trans }}
                {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('program_show', {'slug': program.slug}) }}">{{ 'show'|trans }}</a>
                    <br>
                    <br>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="btn btn-primary" href="{{ path('program_edit', {'slug': program.slug}) }}">{{ 'edit'|trans }}</a>
                    {%endif%}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary"  href="{{ path('program_new') }}">{{ 'create.program'|trans }}</a>
    {%endif%}

{% endblock %}
