{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>{{ 'program'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title'|trans }}</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>{{ 'summary'|trans }}</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>{{ 'poster'|trans }}</th>
                <td>{{ program.poster }}</td>
            </tr>
            <tr>
                <th>{{ 'actors'|trans }}</th>
                <td>
                    {% for actor in program.actors %}
                        <a href="{{path('actor_show',{'slug': actor.slug })}}">{{actor.name}}</a>
                    {% else %}
                        {{ 'no.actor'|trans }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary" href="{{ path('program_edit', {'slug': program.slug}) }}">{{ 'edit'|trans }}</a>
    {%endif%}

    <a href="{{ path('program_index') }}">{{ 'back.list'|trans }}</a>
    <br>
{% endblock %}
