{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3 mt-4">
                <img class="card-img" src="{{ asset('uploads/'~program.poster) }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="mt-0">{{ program.title }} </h3>
                        <p>{{ program.summary }}</p>
                    <h3 class="mt-0">{{ 'detail.season'|trans }} </h3>
                        <p>{{ 'year'|trans }} {{ season.year }}</p>
                        <p>{{ 'description'|trans }} {{ season.description }}</p>
                    <h3 class="mt-0">{{ 'detail.episode'|trans }}  </h3>
                        <p>{{ 'title'|trans }} {{ episode.title }}</p>
                        <p>{{ 'number.episode'|trans }}  {{ episode.number }}</p>
                        <p>{{ 'synopsis'|trans }} {{ episode.synopsis }}</p>
                    <h3>{{ 'actors'|trans }}</h3>
                    <div class="row h-100 justify-content-center">
                        {% for actor in program.actors %}
                            <a href="../actor/{{ actor.id }}">
                                <div class="mr-4">{{ actor.name }} </div>
                                <div class="roundedImage"><img src="{{ asset('uploads/'~actor.poster) }}"></div>
                            </a>
                        {% else %}
                            <p>{{ 'no.actors'|trans }}</p>
                        {% endfor %}
                    </div>
                    {% if comments is defined %}
                    <h3 class="mt-0">{{ 'comments'|trans }} </h3>
                        {% for comment in comments %}
                                <div>
                                    <h2>{{ 'comments.by'|trans }}  {{ comment.authorId }}</h2>
                                    <p >{{ comment.comment }}</p>
                                    <p >
                                    {% if comment.rate == 0 %}
                                        Pas de note
                                    {% else %}
                                        {% for i in 1..comment.rate %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                        {% for i in comment.rate..4 %}
                                            {% if comment.rate == 5 %}
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                    </p>
                                </div>
                        {% endfor %}
                        <h3 class="mt-0">{{ 'comments.new'|trans }}</h3>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_index') }}">
        {{ 'back.home'|trans }}
    </a>

{% endblock %}
