<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('wild_index') }}"><img src="{{ asset('build/images/logowildseries.png') }}" alt="logo"> <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'categories'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ render(path('category_navbar')) }}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'series'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for program in programsAll.getAll %}
                        <a class="dropdown-item" href="{{ path('wild_show', {"slug" : program.title | lower | replace({" " : "-"})}) }}">{{ program.title }}</a>
                    {% endfor %}
                    <a class="dropdown-item" href="{{ path('program_index') }}">{{ 'all.programs'|trans }}</a>
                </div>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'acteurs'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for actor in actorsAll.getAll %}
                        <a class="dropdown-item" href="{{ path('show_actor', { "id" : actor.id }) }}">{{ actor.name }}</a>
                    {% endfor %}
                    <a class="dropdown-item" href="{{ path('actor_index') }}">{{ 'all.actors'|trans }}</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'favoris'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ render(path('support')) }}

                </div>
            </li>

        </ul>

        <div>
            <a class="btn my-2 my-sm-0" href="{{ path('search') }}"> <i class="fas fa-search"></i> </a>
        </div>

        {% if app.user %}
            <div class="username">
                {% trans with {'%username%': app.user.email} %}
                    hello_username
                {% endtrans %} !
            </div>
            <a class="btn btn-light my-2 my-sm-0" href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }} </a>
            <a class="btn" href="{{ path('app_profile') }}"> <i class="far fa-user-circle"></i></a>
        {% else %}
            <a class="btn btn-light my-2 my-sm-0" href="{{ path('app_login') }}"> {{ 'account.login'|trans }}</a>
        {% endif %}

            <ul class="navbar-nav">
                <li>
                    <a href="/fr/wild/" class="mr-2" rel="fr-FR"><img src="{{ asset('build/images/fr.png') }}" alt="fr"></a>
                </li>
                <li>
                    <a href="/en/wild/" class="mr-2" rel="en-EN"><img src="{{ asset('build/images/en.png') }}" alt="en"></a>
                </li>
                <li>
                    <a href="/es/wild/" class="" rel="es-ES"><img src="{{ asset('build/images/es.png') }}" alt="es"></a>
                </li>
            </ul>

    </div>

</nav>
