{% extends 'base.html.twig'%}

{% block title %}Rechercher un article{% endblock %}

{% block body %}

<h1>Votre recherche</h1>
    <div class="row d-flex justify-content-center">
    <div class="">
        <div class="form-group">
               {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
               {{ form_start(searchForm) }}
               {{ form_row(searchForm.title, {'label': " ", 'attr': {'placeholder': 'mot clé...'}}) }}
               <button class="btn btn-primary">rechercher</button>
               {{ form_end(searchForm) }}
        </div>
        <section id="content">

            {% for program in programs %}
                <article>
                    <div class="card border-light mb-3" id="articlesRecents" style="max-width: 25rem;margin:1.5em;">
                        <div class="card-header">

                            <h3>{{ program.title }}</h3>

                        </div>
                        <div class="card-body">

                            <p class="card-text">

                                {{ program.summary | slice(0, 170) | raw }} ...

                            </p>
                            <a href="{{ path('wild_show', {'slug': program.slug}) }}" class="btn btn-primary">Lire la suite</a>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
        <div class="pagination">
            {{ knp_pagination_render(programs) }}
        </div>
    </div>
    </div>

    {% endblock %}




