{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3 mt-5">
                 <img class="card-img" src="{{ asset('uploads/'~program.poster) }}" alt="{{ program.title }} poster">
            </div>
             <div class="col-md-8" style="max-width: 100%;">
                <div class="card-body">
                    <h1 class="mt-0">{{ program.title }}</h1>
                    <h3>{{ 'category'|trans }} {{ program.category.name }}</h3>
                    <h5>{{ program.summary }}</h5>
                    <br>
                    {% set i = 0 %}
                        {% for season in seasons %}
                            {% set i = i + 1 %}
                            <a class="season" href="../season/{{ program.id }}-{{ season.id }}">
                                <h2>{{ 'season'|trans }} {{ i }} / {{ season.year }}</h2>
                            </a>
                            <p>{{ season.description}}</p>
                            <br>
                        {% endfor %}
                    <h2>{{ 'actors'|trans }}</h2>
                    <div class="row">
                        {% for actor in program.actors %}
                                <a href="../actor/{{ actor.id }}">
                                    <div class="mr-4">{{ actor.name }} </div>
                                    <div class="roundedImage"><img src="{{ asset('uploads/'~actor.poster) }}"></div>
                                </a>
                        {% else %}
                            <p>{{ 'no.actors'|trans }}</p>
                        {% endfor %}
                    </div>

                    <a href="{{ path('app_index') }}">
                        {{ 'back.home'|trans }}
                    </a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="btn btn-primary" href="{{ path('program_edit', {'slug': program.slug}) }}">{{ 'edit'|trans }}</a>
                        {%endif%}

                </div>
             </div>
        </div>
    </div>



{% endblock %}
