{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1>{{ 'actors'|trans }}</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary"  href="{{ path('actor_new') }}">{{ 'create.actor'|trans }}</a>
    {%endif%}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'name.actor'|trans }}</th>
                <th>Slug</th>
                <th>{{ 'poster'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td class="align-middle">{{ actor.id }}</td>
                <td class="align-middle">{{ actor.name }}</td>
                <td class="align-middle">{{ actor.slug }}</td>
                <td class="align-middle"><div class="roundedImage"><img src="{{ asset('uploads/'~actor.poster) }}"></div></td>
                <td class="align-middle">
                    <a class="btn btn-primary" href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="btn btn-primary" href="{{ path('actor_edit', {'slug': actor.slug}) }}">{{ 'edit'|trans }}</a>
                    {%endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary"  href="{{ path('actor_new') }}">{{ 'create.actor'|trans }}</a>
    {%endif%}


{% endblock %}
