{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>{{ 'actors'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name.actor'|trans }}</th>
                <td>{{ actor.name }}</td>
            </tr>
            <tr>
                <th>{{ 'program'|trans }}</th>
                <td>
            {% for program in actor.programs %}
                <a href="{{ path('program_show',{"slug" : program.slug | lower | replace({" " : "-"})}) }}">
                    <h3>{{ program.title }}</h3></a>

            {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary" href="{{ path('actor_edit', {'slug': actor.slug}) }}">{{ 'edit'|trans }}</a>
        <br><br>

    {%endif%}


    <a href="{{ path('actor_index') }}">{{ 'back.list'|trans }}</a>
{% endblock %}
