{% extends 'email/email_layout.html.twig' %}

{% block title %}Email{% endblock %}

{% block body %}
    <h1>Une nouvelle série est disponible ! </h1>
    <div class="card mb-3" style="max-width: 100%">
        <div class="row">
            <div class="col-md-4" >
                <img class="emailImage" src="{{program.poster}}" alt="{{ program.title }} poster">
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{{ url('wild_show',{"slug" : program.slug }) }}">
                            <h1 class="mt-0"> {{ program.title }}</h1>
                        <h3>{{ program.summary }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ url('app_index') }}">Bienvenue sur Wild Series !</a>
    <a href="{{ url('program_index') }}">Retrouve toutes les series disponibles !</a>
{% endblock %}

